/* Coolors Exported Palette - https://coolors.co/78c0e0-449dd1-192bc2-150578-0e0e52 */

/* CSS HEX */
--sky-blue: #78c0e0ff;
--celestial-blue: #449dd1ff;
--persian-blue: #192bc2ff;
--navy-blue: #150578ff;
--federal-blue: #0e0e52ff;

/* CSS HSL */
--sky-blue: hsla(198, 63%, 67%, 1);
--celestial-blue: hsla(202, 61%, 54%, 1);
--persian-blue: hsla(234, 77%, 43%, 1);
--navy-blue: hsla(248, 92%, 25%, 1);
--federal-blue: hsla(240, 71%, 19%, 1);

/* SCSS HEX */
$sky-blue: #78c0e0ff;
$celestial-blue: #449dd1ff;
$persian-blue: #192bc2ff;
$navy-blue: #150578ff;
$federal-blue: #0e0e52ff;

/* SCSS HSL */
$sky-blue: hsla(198, 63%, 67%, 1);
$celestial-blue: hsla(202, 61%, 54%, 1);
$persian-blue: hsla(234, 77%, 43%, 1);
$navy-blue: hsla(248, 92%, 25%, 1);
$federal-blue: hsla(240, 71%, 19%, 1);

/* SCSS RGB */
$sky-blue: rgba(120, 192, 224, 1);
$celestial-blue: rgba(68, 157, 209, 1);
$persian-blue: rgba(25, 43, 194, 1);
$navy-blue: rgba(21, 5, 120, 1);
$federal-blue: rgba(14, 14, 82, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #78c0e0ff, #449dd1ff, #192bc2ff, #150578ff, #0e0e52ff);
$gradient-right: linear-gradient(90deg, #78c0e0ff, #449dd1ff, #192bc2ff, #150578ff, #0e0e52ff);
$gradient-bottom: linear-gradient(180deg, #78c0e0ff, #449dd1ff, #192bc2ff, #150578ff, #0e0e52ff);
$gradient-left: linear-gradient(270deg, #78c0e0ff, #449dd1ff, #192bc2ff, #150578ff, #0e0e52ff);
$gradient-top-right: linear-gradient(45deg, #78c0e0ff, #449dd1ff, #192bc2ff, #150578ff, #0e0e52ff);
$gradient-bottom-right: linear-gradient(135deg, #78c0e0ff, #449dd1ff, #192bc2ff, #150578ff, #0e0e52ff);
$gradient-top-left: linear-gradient(225deg, #78c0e0ff, #449dd1ff, #192bc2ff, #150578ff, #0e0e52ff);
$gradient-bottom-left: linear-gradient(315deg, #78c0e0ff, #449dd1ff, #192bc2ff, #150578ff, #0e0e52ff);
$gradient-radial: radial-gradient(#78c0e0ff, #449dd1ff, #192bc2ff, #150578ff, #0e0e52ff);